<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CC - Tema 1</title>

    <link rel="icon" type="image/png" href="/public/images/favicon.png">
    <link rel='stylesheet' href='/public/stylesheets/main.css'/>
</head>
<body>

<div class="center">
    <div class="title center">
        <h2>Cloud Computing Tema</h2>
    </div>
    <div class="content">
        <div class="section">
            <p>Coordonate geografice gasite de IP folosind <strong>ipwhois API</strong>:</p>
            <p id="lat"></p>
            <p id="long"></p>
        </div>
        <hr>
        <div class="section">
            <p>Imagine random pentru coordonatele de mai sus folosing <strong>flickr API</strong>:</p>
            <div id="img"></div>
        </div>
        <hr>
        <div class="section">
            <p>Prognoza meteo <strong>Openweathermap API</strong>:</p>
            <div id="description"></div>
        </div>
    </div>
</div>

</body>
<script src="/public/javascripts/main.js"></script>
</html>