<div class="contul-meu-detalii">
    Email:
    <input type="text" name="email" placeholder="<%= cont.email %>">
    Adresa:
    <input type="text" name="adresa" placeholder="Strada salciilor">
    Nume:
    <input type="text" name="firstname" placeholder="<%= cont.firstname %>">
    <input class="submit-btn" type="submit">
</div>