<footer>
    <div class="container">
        <div class="logo">
            <h1 class="border-bottom">ElecTriK</h1>
        </div>
        <div class="informatii">
            <div class="utils column-items">
                <h2 class="border-bottom">Informatii utile</h2>
                <a href="#">GDPR</a>
                <a href="#">Politica de confidentialitate</a>
                <a href="#">Retur</a>
            </div>
            <div class="contul-meu column-items">
                <h2 class="border-bottom">Contul meu</h2>
                <a href="#">Detalii</a>
                <a href="#">Comenzi</a>
            </div>
            <div class="contact column-items">
                <h2 class="border-bottom">Contact</h2>
                <ul>
                    <li>
                        <p>Adresa</p>
                        <a href="javascript:void(0)">Iasi, Nr 10</a>
                    </li>
                    <li>
                        <p>Telefon</p>
                        <a href="tel:0777000333">0777000333</a>
                    </li>
                    <li>
                        <p>Email</p>
                        <a href="mailto:electrik@electrik.ro">electrik@electrik.ro</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>