<header>
    <div id="header">
        <div class="container">
            <div class="left">
                <h1>
                    <a href="/">ElecTriK</a>
                </h1>
                <div class="menus">
                    <a href="/shop">Produse</a>
                    <a href="#">Furnizori</a>
                    <a href="#">Blog</a>
                </div>
            </div>
            <div class="right">
                <a href="/contul-meu"><%= typeof cont == 'object' ? cont.firstname : 'Contul meu' %></a>
                <a href="/cart">Cart</a>
            </div>
        </div>
    </div>
</header>