<div class="title">
    <h4>Notificare:</h4>
</div>
<div class="not">
    <div class="author">De la: <%= notificare.autor %></div>
    <div class="content">Continut: <%= notificare.continut %></div>
</div>