<!DOCTYPE html>
<html lang="ro">
<head>
    <% include head %>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel='stylesheet' href='/stylesheets/shop.css'/>
</head>
<body>
<% include header %>
<main>
    <div class="products-wrapper">
        <div class="filters" id="filters"></div>
        <div class="products" id="products"></div>
    </div>
</main>
<% include footer %>
<script type="text/javascript" src="/javascripts/shop-products.js"></script>
</body>
</html>
