<div class="clienti-section">
    <div class="produse">
        <% if ( clienti.length === 0) { %>
            <h2>Nu exista momentan clienti inregistrati</h2>
        <% } else { %>
            <div class="table-wrapper">
                <div class="table">
                    <div class="table-head">
                        <table>
                            <thead>
                            <tr>
                                <th class="column-uno">Nume</th>
                                <th class="column-uno">Email</th>
                                <th class="column-uno">Oras</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table-body">
                        <table>
                            <tbody>
                            <% clienti && clienti.forEach(client => { %>
                                <tr>
                                    <td class="column-uno"><%= client.firstname %></td>
                                    <td class="column-uno"><%= client.email %></td>
                                    <td class="column-uno"><%= client.specifics.oras %></td>
                                </tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>