<div id="product-info-background" class="loading-screen" style="display: none">
    <div class="product-info-wrapper" id="slide-it">
        <div class="product-form" id="product-new-form">
            <h2>Adauga o noua categorie</h2>
            <form action="#" method="post">
                <input id="denumire" type="text" name="field2" placeholder="Denumire" />
                <input id="supp" name="supp" placeholder="Suplimentar" type="text">
                <div class="wrapper-submit">
                    <button class="submit-btn" type="submit" id="adauga-produs">Adauga</button>
                </div>
            </form>
        </div>
    </div>
</div>