<header>
    <nav class="navbar">
        <div class="nav-left">
            <a href="/">ElecTriK</a>
        </div>
        <div class="nav-right">
            <div class="links"></div>
            <div class="user"><p>Welcome, Admin</p></div>
        </div>
    </nav>
</header>