<!DOCTYPE html>
<html lang="en">
<head>
    <% include ad-head %>
</head>
<body>
<% include ad-header %>
<main>
    <div class="container">
        <div class="left-side">
            <div class="sidebar">
                <ul class="menus">
                    <li class="menu">
                        <a href="#">Produse</a>
                    </li>
                    <li class="menu">
                        <a href="#">Categorii</a>
                    </li>
                    <li class="menu">
                        <a href="#">Clienti</a>
                    </li>
                    <li class="menu">
                        <a href="#">Comenzi</a>
                    </li>
                    <li class="menu">
                        <a href="#">Notifica</a>
                    </li>
                    <li class="menu">
                        <a href="#">Distribuitori</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-side">
            <div class="content">
                <div id="content" style="height: 100%"></div>
                <div id="loading-screen" class="loading-screen" style="display: none">
                    <div class="spinner">
                        <i class="fas fa-spinner fa-spin fa-7x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<% include ad-footer %>

<script type="text/javascript" src="/javascripts/content-page.js"></script>
<div id="scripts"></div>
</body>
</html>