<h2>Adauga un produs</h2>
<form action="#" method="post">
    <input id="denumire" type="text" name="field1" placeholder="Denumire Produs"/>
    <input id="categorie" type="text" name="field2" placeholder="Categorie"/>
    <input id="additional" type="text" name="field3" placeholder="Aditional"/>
    <textarea id="descriere" placeholder="Descriere"></textarea>
    <input id="uploadImage" type="file" name="photo"/>
    <div class="wrapper-submit">
        <button class="submit-btn" type="submit" id="adauga-produs">Adauga</button>
    </div>
</form>
